{{>navbar}}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <h4>{{discord.messages}} Messages sent today.</h4>
      <h4>{{discord.commands}} Commands Executed.</h4>
    </div>
    <div class="col-md-2">
      
    </div>
  </div>
</div>
