<div class="container">
  <form action="/auth/login" method="post" class="form-signin">
    <h2>Sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input name="username" type="text" id="username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" type="password" id="password" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
