<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Plugit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/modules">Modules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/modules">Settings</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <a href="/bot/startup/"><button type="button" class="btn btn-primary">Start</button></a>
        <a href="/bot/shutdown/"><button type="button" class="btn btn-danger">Stop</button></a>
    </form>
  </div>
</nav>
